.markdown-source-view .cm-editor .CodeMirror-lines,
.markdown-preview-view {
    line-height: 2.0;
 );
}

.canvas-node-container {
    border-radius: 0;
}

@media print {
     h1:first-of-type {
     	page-break-before: avoid;
 	}
     h1 {
 		page-break-before: always;
 	}
 	h2, h3, h4, h5, h6 {
 		page-break-after: avoid;
 	}
  	.internal-embed {	
 		page-break-after: avoid;
 		page-break-before: avoid;
 	}
	.callout[data-callout="caution"] {
		page-break-before: always;
	}
 }